*.ini
*.tcr
*.html
impl1/compile/
impl1/tests/
impl1/work/
impl1/DKS_5351_MACHXO2_2000_impl1.dir/
DKS_5351_MACHXO2_2000.ccl
DKS_5351_MACHXO2_2000.ldf
DKS_5351_MACHXO2_2000.lpf
DKS_5351_MACHXO2_20001.sty
generate_core.tcl
generate_ngd.tcl
impl1/.build_status
impl1/.vdbs/dbStat.txt
impl1/.vdbs/DKS_5351_MACHXO2_2000_impl1_map.vdb
impl1/.vdbs/top_rtl.vdb
impl1/.vdbs/top_tech.vdb
impl1/automake.log
impl1/bde.set
impl1/compilation.order
impl1/compile.cfg
impl1/DKS_5351_MACHXO2_2000_impl1.alt
impl1/DKS_5351_MACHXO2_2000_impl1.arearep
impl1/DKS_5351_MACHXO2_2000_impl1.bgn
impl1/DKS_5351_MACHXO2_2000_impl1.bit
impl1/DKS_5351_MACHXO2_2000_impl1.drc
impl1/DKS_5351_MACHXO2_2000_impl1.jed
impl1/DKS_5351_MACHXO2_2000_impl1.log
impl1/DKS_5351_MACHXO2_2000_impl1.lpf
impl1/DKS_5351_MACHXO2_2000_impl1.lsedata
impl1/DKS_5351_MACHXO2_2000_impl1.mrp
impl1/DKS_5351_MACHXO2_2000_impl1.mt
impl1/DKS_5351_MACHXO2_2000_impl1.ncd
impl1/DKS_5351_MACHXO2_2000_impl1.ngd
impl1/DKS_5351_MACHXO2_2000_impl1.p2t
impl1/DKS_5351_MACHXO2_2000_impl1.p3t
impl1/DKS_5351_MACHXO2_2000_impl1.pad
impl1/DKS_5351_MACHXO2_2000_impl1.par
impl1/DKS_5351_MACHXO2_2000_impl1.prf
impl1/DKS_5351_MACHXO2_2000_impl1.pt
impl1/DKS_5351_MACHXO2_2000_impl1.t2b
impl1/DKS_5351_MACHXO2_2000_impl1.tw1
impl1/DKS_5351_MACHXO2_2000_impl1.twr
impl1/DKS_5351_MACHXO2_2000_impl1_lattice.synproj
impl1/DKS_5351_MACHXO2_2000_impl1_map.asd
impl1/DKS_5351_MACHXO2_2000_impl1_map.cam
impl1/DKS_5351_MACHXO2_2000_impl1_map.hrr
impl1/DKS_5351_MACHXO2_2000_impl1_map.ncd
impl1/DKS_5351_MACHXO2_2000_impl1_mapvo.sdf
impl1/DKS_5351_MACHXO2_2000_impl1_mapvo.vo
impl1/DKS_5351_MACHXO2_2000_impl1_synplify.tcl
impl1/dks_5351_machxo2_2000_impl1_trce.asd
impl1/DKS_5351_MACHXO2_2000_impl1_vo.sdf
impl1/DKS_5351_MACHXO2_2000_impl1_vo.vo
impl1/impl1.adf
impl1/impl1.ado
impl1/impl1.aws
impl1/impl1.sort
impl1/impl1.spf
impl1/impl1.tops
impl1/impl1.wsp
impl1/impl1.wsw
impl1/impl1.xcf
impl1/impl1/impl1.lib
impl1/library.cfg
impl1/log/console.log
impl1/message.xml
impl1/moduleparser_command.log
impl1/projlib.cfg
impl1/sim_para.tcl
impl1/simulation.asdb
impl1/simulation.awc
impl1/source_files.lst
impl1/src/wave.asdb
impl1/stimulators.set
impl1/synthesis.log
impl1/synthesis.order
impl1/top_drc.log
impl1/top_lse.twr
impl1/top_prim.v
impl1/xxx_lse_cp_file_list
impl1/xxx_lse_sign_file
msg_file.log
promote.xml
reportview.xml
simulation.asdb
simulation.awc
SPI.edn
SPI.lpc
SPI.srp
SPI_generate.log
/testbench.v
doxygen/
*.log
*.edn
*.lpc
*.srp
impl1/reveal_workspace
*.graphml
impl1/__tsef.v
.~lock.Список команд.ods#
*.edf
