RVL_ALIAS "clk_12mhz" "clk_12mhz"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_cs" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=NA ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=NA DRIVE=NA HYSTERESIS=SMALL ;
IOBUF PORT "clk_5ms" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "clk_not_5ms" IO_TYPE=LVCMOS33 ;
IOBUF PORT "neg_comparator" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pos_comparator" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ref_avk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "antibounce" IO_TYPE=LVCMOS33 ;
VOLTAGE 1.140 V;
IOBUF PORT "avk_sel[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "avk_sel[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "avk_sel[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "avk_sel[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "input_sel[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "input_sel[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "input_sel[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "input_sel[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mu_sel[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mu_sel[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mu_sel[2]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_cs" SITE "47" ;
LOCATE COMP "rst" SITE "24" ;
LOCATE COMP "clk_5ms" SITE "62" ;
LOCATE COMP "clk_not_5ms" SITE "63" ;
LOCATE COMP "adc_comp" SITE "64" ;
IOBUF PORT "adc_comp" IO_TYPE=LVCMOS33 ;
LOCATE COMP "adc_countn" SITE "65" ;
IOBUF PORT "adc_countn" IO_TYPE=LVCMOS33 ;
LOCATE COMP "avk_sel[1]" SITE "37" ;
LOCATE COMP "avk_sel[0]" SITE "36" ;
LOCATE COMP "pos_comparator" SITE "41" ;
LOCATE COMP "neg_comparator" SITE "42" ;
LOCATE COMP "input_sel[1]" SITE "52" ;
LOCATE COMP "input_sel[0]" SITE "51" ;
LOCATE COMP "mu_sel[0]" SITE "57" ;
LOCATE COMP "mu_sel[1]" SITE "58" ;
LOCATE COMP "mu_sel[2]" SITE "59" ;
LOCATE COMP "input_sel[2]" SITE "53" ;
LOCATE COMP "input_sel[3]" SITE "54" ;
LOCATE COMP "avk_sel[2]" SITE "38" ;
LOCATE COMP "avk_sel[3]" SITE "39" ;
LOCATE COMP "fil1_sel" SITE "60" ;
LOCATE COMP "fil2_sel" SITE "61" ;
IOBUF PORT "fil1_sel" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fil2_sel" IO_TYPE=LVCMOS33 ;
LOCATE COMP "comp1_cs" SITE "43" ;
LOCATE COMP "comp2_cs" SITE "45" ;
LOCATE COMP "relay_cs" SITE "28" ;
LOCATE COMP "relay_reset" SITE "29" ;
IOBUF PORT "comp1_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "comp2_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "relay_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "relay_reset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ref_avk" SITE "40" ;
LOCATE COMP "antibounce" SITE "30" ;
IOBUF PORT "clk_4mhz" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_4mhz" SITE "87" ;
LOCATE COMP "clk_12mhz" SITE "3" ;
IOBUF PORT "clk_12mhz" IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
FREQUENCY PORT "clk_12mhz" 12.000000 MHz ;
IOBUF PORT "rd_data_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rd_data_out[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rd_data_out[0]" SITE "12" ;
LOCATE COMP "rd_data_out[1]" SITE "13" ;
LOCATE COMP "rd_data_out[2]" SITE "14" ;
LOCATE COMP "rd_data_out[3]" SITE "15" ;
LOCATE COMP "spi_clk" SITE "31" ;
LOCATE COMP "spi_mosi" SITE "49" ;
LOCATE COMP "n7947" SITE "32" ;
IOBUF PORT "n7947" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
